.h100 {
    height: 100%;
}

.h75 {
    height: 75%;
}

.p10 {
    padding: 1rem;
}

.p20 {
    padding: 2rem
}

.p30 {
    padding: 3rem;
}

.p40 {
    padding: 4rem;
}

.p50 {
    padding: 5rem;
}

.topP20 {
    padding-top: 2rem;
}

.h70 {
    height: 70%;
}

.h60 {
    height: 60%;
}

.h50, .h5 {
    height: 50%;
    min-height: 200px;
}

.h40 {
    height: 40%;
}

.h3 {
    height: 33.33%;
}

.h30 {
    height: 30%;
}

.h25 {
    height: 25%;
}

.h2, .h20 {
    height: 20%;
}

.w100 {
    width:100%;
}

.w75 {
    width: 75%;
}

.w60 {
    width:60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w30 {
    width: 30%;
}

.w25 {
    width:25%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

.center-box {
    width: 100%;
    text-align: center;
}




