.html, body, #root {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: #4c5c68;
    color: #114b5f;
    background-color: #c6dabf;
}

.iconRow {
    justify-content: center;
    text-align: center;
}

i {
    margin: .5rem
}

.devIcons {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom:2rem;
    color: #114d5f;
}

.image-box {
    text-align: center;
}

.name-box {
    padding-bottom: 2rem;
}

.name {
    font-size:2.8rem;
    text-align: center;
    color: #1985a1;
    color: #f3e9d2;
    color: #88d498;
}
.profession {
    text-align: center;
    font-size: 1.1rem;
    color: #46494c;
    color: #c6dabf;
    
}

i:hover {
    color: #1985a1;
}

.side-nav {
    position: fixed;
    height: 100%;
    z-index: 99;
    width: 25%;
    border-right: .1rem;
    border-right-style: solid;
    border-right-color: white;
    background-color: #c5c3c6;
    background-color: #dcdcdd;
    background-color: #114c5f;
    color: #88d498;
    color: #f3e9d2;
    color: #c6dabf;
}

.social-links {
    margin: auto;
    margin-top: 1em;
}

.gray {
    background-color: #AAAAAA;
}

.silver {
    background-color:#DDDDDD;
}


.profile-picture {
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    height: 100%;
    border: .3rem;
    border-style: solid;
    border-color: #114c5f;    
}

.white-border {
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border: .1rem;
    border-style: solid;
    border-color: white;  
}

.post-masonry {
    padding: .5rem;
}

.post-masonry .post-thumb {
    transition: all .2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.post-masonry .post-thumb img {
    width: 100%;
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#114b5f;
    padding: 15px 20px;
}

.post-masonry .post-thumb .title-over h4 {
    font-size: 16px;
    font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
    color: #88d498;
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    overflow: scroll;
    padding: 1rem;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.center-text {
    text-align: center;
}